.counter__display {
  width: 250px;
  text-align: center;
  padding: .375rem .75rem;
  margin: auto;
  font-size: 3rem;
  line-height: 1.5;
  color: #000000;
  background-color: #8080803d;
  border: 1px solid #8080806b;
}
